@charset "UTF-8";

/*Mobile First*/ 
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../imagens/img1.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    color: white;
    padding:20px;
    height: 250px;
}

header > h1 {
     color:#F9D000 ;
     margin-top: 15px;
}

header > p{
    margin-top: 15px;
    text-align: justify;
    text-indent: 10px;
    background-color: rgba(19, 18, 18, 0.384);
}

span#burguer{
    cursor: pointer;
}

#seguros{
    background-color: white;
}

#blog {
    background-color: #F3F6FA;
}

#cqt{
    background-color: #17206B;
    color: white;
}

footer{
    background-color: #0A1038;
    color: white;
}
